html{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    scroll-behavior: smooth;
    background-color: #1A1919;
}

@media (max-width: 570px) {
    html{
        background-color: #212121;
    } 
}

