.container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #1A1919;
}

@media (max-width: 570px) {
    .container{
        background-color: #212121;
    } 
}

/* Login side */
.container > .left-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 50%;
}

@media (max-width: 480px) {
    .container > .left-container {
        max-width: 480px;
        gap: 0px;
    }
}

@media (max-width: 1200px) {
    .container > .left-container {
        width: 100%;

    }
}

@media (min-width: 1800px) {
    .container > .left-container {
        gap: 126px;
    }
}

.container > .left-container > .logo-container {
    display: inline-flex;
    width: 100%;
    height: 100px;
    font-size: 18px;
    gap: 20px;
    font-family: Poppins; 
    color: #FFF7DC;
}

/* Logo superior esquerda*/
.container > .left-container > .logo-container img{
    margin-top: 50px;
    margin-left: 70px;
    width: 50px;
    height: 50px;
}

@media (max-width: 570px) {
    .container > .left-container > .logo-container img {
        margin-top: 34px;
        margin-left: 20px;
    }
}

.container > .left-container > .logo-container h1 {
    padding-top: 68px;
}

@media (max-width: 570px) {
    .container > .left-container > .logo-container h1 {
        padding-top: 50px;
    }
}

/* Container do login */
.container > .left-container > .login-container {
    background-color: #212121;
    width: 572px;
    height: 520px;
    border-radius: 8px;
    padding: 50px 80px 50px 80px;
    box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.1);
}

@media (max-width: 570px) {
    .container > .left-container > .login-container {
        box-shadow: none;
        width: 100%;
        height: 100%;
        padding: 30px 20px 0px 20px;
    }
}

.container > .left-container > .login-container > .login-title img {
    color: #FFF7DC;
}

.container > .left-container > .login-container > .login-title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 24px;
    font-family: Poppins;
    color: #FFF7DC;
}

.container > .left-container > .login-container > .logo-subtitle {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #F4FFF7;
}

.container > .left-container > .login-container > form {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

/* email */
.container > .left-container > .login-container > form > .email-input {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    background-color: #2F2F2F;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 14px;
}

.container > .left-container > .login-container > form > .email-input > input{
    width: 100%;
    border-radius: 4px;
    border: 2px solid;
    border-color: #2F2F2F;
    padding: 15px 14px 13px 50px;
    background-color: #2F2F2F;
    text-align: start;
    font-family: Roboto;
    color: #F4FFF7;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.container > .left-container > .login-container > form > .email-input > input:focus {
    border-color: #41A55B;
}

.container > .left-container > .login-container > form > .email-input > #email-icon {
    background: url('/assets/mail.svg');
    width: 24px;
    margin-left: 14px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 24px;
    background: cover;
}

/* password */
.container > .left-container > .login-container > form > .password-input {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: #2F2F2F;
    margin-bottom: 20px;
    text-align: start;
    font-family: Roboto;
    font-size: 14px;
    position: relative; 
}

.container > .left-container > .login-container > form > .password-input > input {
    width: 100%;
    border: 2px solid; 
    border-color: #2F2F2F;
    border-radius: 4px;
    padding: 15px 14px 13px 50px;
    background-color: #2F2F2F;
    text-align: start;
    font-family: Roboto;
    color: #F4FFF7;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.container > .left-container > .login-container > form > .password-input > input:focus {
    border-color: #41A55B;
}

.container > .left-container > .login-container > form > .password-input > #password-icon,
.container > .left-container > .login-container > form > .password-input > #icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 24px;
}

.container > .left-container > .login-container > form > .password-input > #password-icon {
    background: url('/assets/lock.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    left: 14px;
}

#icon {
    color: #B0B0B0;
    background: url('/assets/olhosenha.png');
    width: 24px;
    right: 14px;
    padding-left: 24px;
    cursor: pointer;
    font-size: 17px;
}

#icon.hide {
    background: url('/assets/olhonaovisivel.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

/* checkbox */
.container > .left-container > .login-container > form > .checkbox-and-forget {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container > .left-container > .login-container > form > .checkbox-and-forget > .forget {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: #41A55B;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    font-family: Poppins;
    font-size: 16px;
    transition: color 0.5s;
}

.container > .left-container > .login-container > form > .checkbox-and-forget > .forget:hover {
    color: #2b8442;
}

.container > .left-container > .login-container > form > .checkbox-and-forget > .lembrarme {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #F4FFF7;
    font-weight: 400;
    font-size: 16px;
}

.container > .left-container > .login-container > form > .checkbox-and-forget > .lembrarme > label {
    cursor: pointer;
}

/*Botão Entrar*/
#login-button[disabled] {
    opacity: 0.7;
}

#login-button:enabled {
    opacity: 1;
}

/* cadastro */
.container > .left-container > .login-container > form > .cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding-top: 10px;
}

.container > .left-container > .login-container > form > .cadastro > p,a {
    color: #41A55B;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.5s;
}

.container > .left-container > .login-container > form > .cadastro > a:hover {
    color: #2b8442;
}

.container > .left-container > .login-container > form > .cadastro > a.bold {
    font-weight: 600
}


/* Imagem */
.container > .right-container {
    width: 50%;
    display: block;
}

@media (max-width: 1200px) {
    .container > .right-container {
        display: none;
    }
}

.container > .right-container > .img {
    width: 100%;
    height: 100%;
    background-image: url(/assets/loginimage.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width: 1200px) {
    .container > .right-container > .img {
        display: none;
    }
}