.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Register side */
.container > .left-container {
    display: flex;
    flex-direction: column;
    gap: 126px;
    align-items: center;
    width: 50%;
}

@media (max-width: 1200px) {
    .container > .left-container {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container > .left-container {
        max-width: 480px;
        gap: 0px;
    }
}

.container > .left-container > .logo-container {
    display: inline-flex;
    width: 100%;
    height: 100px;
    font-size: 18px;
    gap: 20px;
    font-family: Poppins; 
    color: #FFF7DC;
}

/* Logo superior esquerda*/
.container > .left-container > .logo-container img{
    margin-top: 50px;
    margin-left: 70px;
    width: 50px;
    height: 50px;
}

@media (max-width: 570px) {
    .container > .left-container > .logo-container img {
        margin-top: 34px;
        margin-left: 20px;
    }
}

.container > .left-container > .logo-container h1 {
    padding-top: 68px;
}

@media (max-width: 570px) {
    .container > .left-container > .logo-container h1 {
        padding-top: 50px;
    }
}

/* Container do registro */
.container > .left-container > .register-container {
    background-color: #212121;
    width: 572px;
    height: 520px;
    border-radius: 8px;
    padding: 50px 80px 50px 80px;
    box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.1);
}

@media (max-width: 570px) {
    .container > .left-container > .register-container {
        box-shadow: none;
        width: 100%;
        height: 100%;
        padding: 30px 20px 0px 20px;
    }
}

.container > .left-container > .register-container > .register-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    font-family: Poppins;
    color: #FFF7DC;
}

.container > .left-container > .register-container > .logo-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #F4FFF7;
}

.container > .left-container > .register-container > form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

/* email */
.container > .left-container > .register-container > form > .email-input {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    background-color: #2F2F2F;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 14px;
}

.container > .left-container > .register-container > form > .email-input > input{
    width: 100%;
    border-radius: 4px;
    border: 2px solid;
    border-color: #2F2F2F;
    padding: 15px 14px 13px 50px;
    background-color: #2F2F2F;
    text-align: start;
    font-family: Roboto;
    color: #F4FFF7;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.container > .left-container > .register-container > form > .email-input > input:focus {
    border-color: #41A55B;
}

.container > .left-container > .register-container > form > .email-input > #email-icon {
    background: url('/assets/mail.svg');
    width: 24px;
    margin-left: 14px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 24px;
    background: cover;
}

/* password */
.container > .left-container > .register-container > form > .password-input {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: #2F2F2F;
    margin-bottom: 20px;
    text-align: start;
    font-family: Roboto;
    font-size: 14px;
    position: relative; 
}

.container > .left-container > .register-container > form > .password-input > input {
    width: 100%;
    border: 2px solid; 
    border-color: #2F2F2F;
    border-radius: 4px;
    padding: 15px 14px 13px 50px;
    background-color: #2F2F2F;
    text-align: start;
    font-family: Roboto;
    color: #F4FFF7;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.container > .left-container > .register-container > form > .password-input > input:focus {
    border-color: #41A55B;
}

.container > .left-container > .register-container > form > .password-input > #password-icon,
.container > .left-container > .register-container > form > .password-input > #icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 24px;
}

.container > .left-container > .register-container > form > .password-input > #password-icon {
    background: url('/assets/lock.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    left: 14px;
}

/* Imagem */
.container > .right-container {
    width: 50%;
    display: block;
}

@media (max-width: 1200px) {
    .container > .right-container {
        display: none;
    }
}

.container > .right-container > .img {
    width: 100%;
    height: 100%;
    background-image: url(/assets/emil-kalibradov-a4maTFz1QPc-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width: 1200px) {
    .container > .right-container > .img {
        display: none;
    }
}